@{
    ViewBag.Title = "Incident Manager";
}

<h2 class="fs-1">Incident Manager</h2>

<table class="table retro-table">
    <thead>
        <tr class="">
            <th scope="col">Title</th>
            <th scope="col">Customer</th>
            <th scope="col">Game</th>
            <th scope="col">Date Opened</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td scope="row">Could not install</td>
            <td>Ania Irvin</td>
            <td>Pac-Man</td>
            <td>1/29/2024</td>
            <td class="w-25">
                <div class="d-flex justify-content-around">
                    <a asp-controller="Customer" asp-action="Edit"
                       class="btn-retro text-decoration-none">Edit</a>
                    <a asp-controller="Customer" asp-action="Delete"
                       class="btn-retro text-decoration-none">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn-retro text-decoration-none fs-5" asp-controller="Customer" asp-action="Add">Add Incident</a>