@model LoginVM
@{
    ViewBag.Title = "Login";
}

<h2 class="fs-1">Login</h2>

<form asp-action="Register" method="post">
    <div class="form-floating mb-3 col-md-6">
        <input asp-for="Username" class="form-control" placeholder="" />
        <label class="form-label">Username</label>
    </div>
    <div class="form-floating mb-3 col-md-6">
        <input asp-for="Password" class="form-control" placeholder="" />
        <label class="form-label">Password</label>
    </div>
    <div class="form-check col-md-6 mb-3">
        <input class="form-check-input" asp-for="RememberMe" id="remember">
        <label class="form-check-label" for="remember">
            Remember Me?
        </label>
    </div>

    <div class="mb-3">
        <button class="btn-retro">Login</button>
    </div>

    <a asp-action="Register">Want to make an account?</a>
</form>