@model TechnicianModel
@{
    ViewBag.Title = ViewBag.Action;
}

<h2 class="fs-1">@ViewBag.Action Technician</h2>

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <div class="form-floating retro-form">
            <input asp-for="Name" type="text" class="form-control" id="floatingInput" placeholder="Name">
            <label asp-for="Name" for="floatingInput">Name</label>
        </div>
        <span class="text-danger fw-bold" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <div class="form-floating retro-form">
            <input asp-for="Email" type="text" class="form-control" id="floatingInput" placeholder="email@example.com">
            <label asp-for="Email" for="floatingInput">Email</label>
        </div>
        <span class="text-danger fw-bold" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <div class="form-floating retro-form">
            <input asp-for="Phone" type="text" class="form-control" id="floatingInput" placeholder="111-222-3333">
            <label asp-for="Phone" for="floatingInput">Phone</label>
        </div>
        <span class="text-danger fw-bold" asp-validation-for="Phone"></span>
    </div>
    <input type="hidden" asp-for="TechnicianModelId" />
    <button class="btn-retro" type="submit">Save</button>
    <a asp-controller="Technician" asp-action="List"
       class="btn-retro text-decoration-none ms-3">Cancel</a>
</form>
