html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #fee7bd;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    body {
        background: linear-gradient(to right, #fee7bd 0%, #fee7bd 60%, #74c2ac 60%, #74c2ac 65%, #563b29 65%, #563b29 70%, #d57221 70%, #d57221 75%, #eb9d3a 75%, #eb9d3a 80%, #fee7bd 0%);
        background-repeat: repeat-x;
    }
}
@media (max-width: 767px) {
    body {
        background-repeat: repeat-x;
        background: linear-gradient(to bottom, #fee7bd 0%, #fee7bd 60%, #74c2ac 60%, #74c2ac 65%, #563b29 65%, #563b29 70%, #d57221 70%, #d57221 75%, #eb9d3a 75%, #eb9d3a 80%, #fee7bd 80%);
    }
}
h2, h3, h1, .retro {
    font-family: 'Shrikhand', serif;
}
#header-nav, footer {
    background-color: #005f73 !important;
}

/* NAVBAR */
.navbar-light, .navbar-light .navbar-brand, .navbar-light .nav-link {

}

.list-group-item {
    background-color: #df6108;
    transition: all 0.1s ease, background 0.3s ease;
    border: 1px solid #000;
    color: #000;
}
.list-group-item:hover {
    background-color: #f2771c;
    color: #000;
}
.list-group-item:not(:hover) {
    background-color: #df6108;
    color: #000;
}

/* RETRO TABLE */
.retro-table {
    background-color: #F3EFEF;
    color: #000;
}
.retro-table th, .retro-table td {
    border: 1px solid #000;
    padding: 10px;
}
.retro-table th {
    background-color: #CC7F7F;
    color: 000;
}
.retro-table tbody tr:nth-child(odd) {
    background-color: #D8D8D8;
}

#filters > button {
    display: inline-block;
    padding: 6px 25px;
    border-radius: 8px;
    background: #df6108;
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    text-transform: uppercase;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 0 0 3px #2f2e41, 0 0px 0 #2f2e41;
    font-weight: 600;
    letter-spacing: 1px;
}
    #filters > button:hover,
    #filters > button:focus {
        color: #fff;
        background: #f2771c;
        cursor: pointer;
    }

/* RETRO BUTTON */
.btn-retro {
    /* typography */
    font-size: 15px;
    font-weight: 600;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* ui */
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 6px 35px;
    border-radius: 8px;
    background: #df6108;
    color: #fff;
    box-shadow: 0 0 0 3px #2f2e41, 0 6px 0 #2f2e41;
    transition: all 0.1s ease, background 0.3s ease;
}
.btn-retro:hover,
.btn-retro:focus {
    color: #fff;
    background: #f2771c;
}
.btn-retro:active {
    box-shadow: 0 0 0 3px #2f2e41, 0 4px 0 #2f2e41;
    transform: translateY(2px);
}

/* Windows 98 Notification */
.window {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
    padding: 3px;
    font-family: "MS Sans Serif", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:12px;
    color: #222;
}

.title-bar {
    align-items: center;
    background: linear-gradient(90deg,navy,#1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}

.title-bar-text {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 24px;
}

.title-bar-controls {
    display: flex;
}

    .title-bar-controls button {
        display: block;
        min-height: 14px;
        min-width: 16px;
        padding: 0;
        background: silver;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-image: none;
        box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        color: transparent;
        text-shadow: 0 0 #222;
    }
        .title-bar-controls button[aria-label="Close"] {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
            background-position: top 3px left 4px;
            background-repeat: no-repeat;
            margin-left: 2px;
        }

.window-body {
    margin: 8px;
}

    .window-body p {
        max-width: 50rem;
        line-height: 1.5;
    }

@media screen and (max-width: 769px) {
    #filters {
        flex-direction: column;

    }
        #filters > button {
            width: 100%;
            margin: 5px 0px !important;
        }
}
