@model TechnicianModel
@{
    ViewBag.Title = $"Confirm Deletion";
}

<div>
    <h2 class="fs-1">Confirm Deletion</h2>
    <p class="fs-5">Are you sure you want to delete <span class="fw-bold text-uppercase">CUSTOMER</span></p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianModelId" />
    <button type="submit" class="btn-retro text-decoration-none">Yes</button>
    <a asp-controller="Customer" asp-action="List" class="btn-retro text-decoration-none ms-3">No</a>
</form>

