@model List<TechnicianModel>
@{
}

<h2 class="fs-1">Technician</h2>
<form asp-action="SearchIncidents">
    <select class="form-select" id="floatingSelect">
        <option hidden selected value="">--- Select a Technician ---</option>
        @foreach (TechnicianModel technician in Model)
        {
            <option value="@technician.TechnicianModelId">@technician.Name</option>
        }
    </select>
    <button class="btn-retro mt-3" type="submit">Select</button>
</form>

