@{
    string[] adminPerms = { "Manage Products", "Manage Technicians", "Manage Customers", "Manage Incidents", "Registrations" };
    string[] techPerms = {"Update Incident"};
    ViewData["Title"] = "Home Page";
}

<h2 class="fw-bold fs-1">RetroRealm Technical Support</h2>
<p class="fw-bold">Retro Game management software for the game enthusiests</p>

<div class="mt-3">
    <h3 class="fs-1 fw-bold">Admin</h3>
    <ul class="list-group">
        @foreach (string permission in adminPerms)
        {
            <a href="#" class="list-group-item list-group-item-action">@permission</a>
        }
    </ul>
</div><div class="mt-3">
    <h3 class="fs-1 fw-bold">Technicians</h3>
    <ul class="list-group">
        @foreach (string permission in techPerms)
        {
            <a href="#" class="list-group-item list-group-item-action">@permission</a>
        }
    </ul>
</div>
